#img-meal img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

#details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#meal-header {
    width: 75%;
    margin: auto;
}